.main-toolbar {
  background-color: #2D336B;
  color: white;
  padding: 0 1rem;
  font-weight: 500;
  font-size: 18px;
}

.app-title {
  font-size: 22px;
  font-weight: bold;
  color: #FFF2F2;
}

.spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  color: #FFF2F2;
  margin-left: 10px;
}

a[mat-button].active-link {
  background-color: #7886C7;
  border-radius: 8px;
}

.app-container {
  background-color: #FFF2F2;
  min-height: 100vh;
  padding: 2rem;
}
